@import url('font-awesome.css');
@import url('reset.css');
body{
    margin: 0;
    font-family: 'Arsenal', sans-serif; 
 
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
button{
	outline: none;
}
/*header start*/
.header{
	border-bottom: 1px #C4C4C4 solid;
}
.header_inner{
	display: flex;
	align-items: center; 
	height: 61px;
	flex-direction: row;

}
.logo_img{
    display: block;
	width: 63px;
	height: 51px;
    background: url(../корзина/img/logo.svg);
}
.number{
	cursor: pointer;
	margin-left: 12px;
	margin-right: 67px;
}
.number-gif{
	width: 178px;
	height: 37px;
	border-radius: 8px;
}
/*menu*/
.header-menu{
	display: flex;
	justify-content: space-between;
}
.header-menu_item{
	text-align: center;
	margin-right: 50px;
}
.header-menu_item a{
	font-size: 14px;
	line-height: 18px;
	color: #393939;
	text-decoration: none;
}
/*form*/
.wrapper-form{
  position: absolute;
  top: 2%;
  left: 80%;
  transform: translate( -100%, 0);
}

.container-form{
  width: 0px;
  height: 32px;
  background: #41484a;
  text-align: center;
  line-height: 45px;
  padding-right: 30px;
  transition: all 0.5s ease;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.form-search{
  border: 0px;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s ease;
}

.container-form .fa-search{
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.container-form .fa-search.active{
  top: 0;
  box-sizing: border-box;
  background: #393939;
  border-radius: 0;
}

.container-form.active{
  width: 799px;
  padding-left: 15px;
  transition: all 0.5s ease;
  background: #FFFFFF;
  border: 2px solid #393939;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-search.active{
  width: 70%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #C8C8C8;
}


input::placeholder {
  color: #C8C8C8;
}
.categories{
  border: 0px;
  background: transparent;
  width: 0%;
  outline: none;
  color: #fff;
  font-weight: 400;
  line-height 17px;
  transition: all 0.3s ease;
}
.categories.active{
  width: 30%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
  color: #C8C8C8;
}

option::placeholder {
  color: #C8C8C8;
}


.header-buttons{
	display: flex;
}


.header_button{
	cursor: pointer;
	margin-left: 25px;
	display: block;
}
.header_button.user{
	border: none;
	width: 20px;
	height: 20px;
	background: #fff url(../корзина/img/user.svg) no-repeat;
}
.header_button.shopping-cart{
	border: none;
	width: 25px;
	height: 25px;
	background: #fff url(../корзина/img/shopping-cart.svg) no-repeat;
}
/*main*/
.main{
	background: #E5E5E5;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #2E2E2E;
}
.main_inner{
	display: grid;
	grid-template-columns: 2fr 1fr;
  	grid-template-rows: auto;
  	grid-column-gap: 20px;
  	grid-template-areas:
    	'cart cart checkout'
    	'goods goods checkout'
    	'goods goods sum'
    	'goods goods maps';
}
.main_cart{
	grid-area: cart;
	font-size: 24px;
	line-height: 165%;
	background: #fff;
	border-radius: 8px;
	margin-bottom: 20px;
	height: 67px;
	font-weight: 700;
	padding: 10px 30px 17px 30px;
}
.main_goods{
	grid-area: goods;
	background: #fff;
	border-radius: 8px;
}
.order_goods-button{
	background: #FFFFFF;
	border: 2px solid #2DA9EF;
	box-sizing: border-box;
	border-radius: 8px;
	cursor: pointer;
	width: 255px;
	height: 53px;
	font-size: 18px;
	line-height: 23px;
	color: #2E2E2E;
	font-weight: 400;
	margin: 30px 100px 30px 100px;
}
.main_goods-good{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #C4C4C4;
	margin: 25px 20px 25px 52px;
	padding-bottom: 21px;
}
.main-name{
	font-size: 14px;
	color: #777777;
	font-weight: 400;
	line-height: 18px;
}	
.main-summa{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
}
.price-name, .price-num{
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #2E2E2E;
}
.price-num_red{
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #931515;
	padding-top: 26px;
}
.prev-price{
	position: relative;
	right: -40px;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: line-through;
	font-weight: 400;
	color: #666666;
}
.price-num_down{
	background: #FE4646;
	border-radius: 4px;
	width: 45px;
	height: 22px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}
.main-price{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: stretch;
}
.main-text{
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #111111;
}
.main-desc{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: stretch;
}
.main_good-img.main_img-left{
	margin-left: 25px;
}

.main_good_img{
	display: block;
}
.main_icon{
/*	padding-left: 5px;*/
	padding-right: 5px;
}
.main_checkout{
	grid-area: checkout;
	background: #fff;
	border-radius: 8px;
	padding: 25px 15px 25px 15px;
}
.checkout-name{
	font-size: 24px;
	line-height: 165%;
	font-weight: 700;
	color: #931515;
}
.checkout-inf{
	font-size: 18px;
	line-height: 165%;
	color: #5E5E5E;
	font-weight: 700;
}
.checkout-block{
	display: flex;
	flex-direction: column;
	margin-top: 18px;
}
.checkout-text{
	font-size: 14px;
	line-height: 165%;
	font-weight: 400;
	color: #2E2E2E;
}
.checkout_form-inner{
	display: flex;
	flex-direction: column;
}
.checkout_text{
	width: 328px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 0px 1px #000000;
	border-radius: 4px;
	border: none;
	padding: 8px 10px 9px 10px;
	outline: none;
	color: #111;
	font-size: 18px;
}
.checkout_text.middle{
	width: 253px;
}
.checkout_text.down{
	width: 187px;
}
.sms-button{
	width: 315px;
	height: 53px;
	background: #FFFFFF;
	box-shadow: 0px 0px 1px #000000;
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 20px;
	line-height: 25px;
	color: #7E7E7E;
	font-weight: 400;
}
.confirm-button{
	width: 315px;
	height: 53px;
	left: 224px;
	top: 322px;
	background: #8A8A8A;
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 15px;
}
.send-kod{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #7E7E7E;
	margin-top: 15px;
	margin-bottom: 15px;
}
.error-kod{
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	color: #FF0000;
	margin-top: 20px;
	margin-bottom: 30px;
}
.kod-button{
	width: 315px;
	height: 53px;
	border:none;
	outline: none;
	background: #FFFFFF;
	border: 1px solid #FF0000;
	box-sizing: border-box;
	border-radius: 8px;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #FF0000;
	margin-top: 60px;
}
.kod-desc{ 
	font-size: 17px;
	line-height: 21px;
	font-weight: 400;
	color: #2E2E2E;
	align-self: center;
	margin-bottom: 30px;
}
.input-kod{
	width: 315px;
	height: 53px;
	background: #FFFFFF;
	box-shadow: 0px 0px 1px #000000;
	border-radius: 8px;
	border: none;
	outline: none;
	font-style: 18px;
	color: #111;
	padding: 5px 10px 5px 10px;
}
.main_maps{
	grid-area: maps;
	background: #fff;
	border-radius: 8px;
	padding: 15px 23px 15px 20px;
}
.order_sum{
	grid-area: sum;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 15px 23px 15px 20px;
	color: #2E2E2E;
	align-items: flex-start;;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.order_sum-red{
	color: #931515;;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	padding-bottom: 23px;
}
.order_sum-inf{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 10px;
}
.order_sum-cost{
	font-size: 18px;
	line-height: 23px;
}
.order_sum-sale{
	border-bottom: 1px solid #D6D6D6;
	font-size: 18px;
	line-height: 23px;

}
.order_sum-pay{
	font-size: 17px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 10px;
}
.order_sum-button{
	width: 315px;
	height: 53px;
	background: #2DA9EF;
	border: none;
	border-radius: 8px;
	font-weight: 700;
	background: #2DA9EF;
	color: #fff;
	margin-top: 53px;
	cursor: pointer;
}
/*footer*/
.footer{
	background: #292929;
	padding-top: 12px;
	padding-bottom: 29px;
}
.footer_inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer_logo-img{
	display: block;
	width: 97px;
	height: 78px;
	background: url(../корзина/img/logo-white.svg);
}
.footer_blocks{
	display: flex;
	justify-content: space-around;
}
.footer_block{
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-left: 70px;
	width: 160px;
}
.footer_logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_block.phone{
	align-items: center;
}

.footer_block-title{
	font-size: 16px;
	line-height: 25px;
}
.footer_block-title.servis{
	width: 56px;
}
.footer_block-title.inf{
	width: 93px;
}
.footer_block-title.social{
	width: 122px;
}
.footer_block-title{
	font-weight: 700;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.footer_block-title.phone{
	width: 86px;
	font-size: 26px;
	line-height: 33px;
	display: flex;
	align-items: center;
}
.footer_block-img{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../корзина/img/phone-white.svg);
	margin-right: 10px;
	margin-left: 10px;
}
.footer_block-item{
	font-size: 12px;
	line-height: 20px;
}
/*svg background*/
.social{
	display: flex;
	flex-wrap: wrap;
}
.social-icon{
	width: 30px;
	height: 30px;
	display: block;
	margin-right: 20px;
	margin-bottom: 10px;
}
.social-icon.vk{ 
	background: url(../корзина/img/vk.svg);
}.social-icon.telegram{ 
	background: url(../корзина/img/telegram.svg);
}.social-icon.whatsup{ 
	background: url(../корзина/img/whatsapp.svg);
}.social-icon.instagram{ 
	background: url(../корзина/img/instagram.svg);
}.social-icon.viber{ 
	background: url(../корзина/img/viber.svg);
}